<!DOCTYPE html>
<html>
    <head>
        <title>SEC Boys Hostel</title>

    </head>
    <body>
        <h2>SEC Boys Hostel</h2>
        <h3><b>8 things that happen in boys hostel</b></h2>
        <ol>
            <li>Introduction. ...</li>
            <li>Violent birthday celebrations. ...</li>
            <li>All night gaming. ...</li>
            <li>Bathroom singing at its best. ...</li>
            <li>The troublemakers creating fuss. ...</li>
            <li>The bullies making life tough for juniors. ...</li>
            <li>The romeos of the hostel. ...</li>
            <li>The long, long gossip sessions.</li>
        </ol>
    </body>
</html>