<!DOCTYPE html>
<html>
    <head>
        <title>CSE Block</title>

    </head>
    <body>
        <p><b>CSE Block</b> Consist Of : <br> IT Deparment <br> CSE Department <br> AI&DS Department <br> IOT Department<br>AIML Department<br>
            Cyber Security Department <br>
            
        </p>
        <p>
            The Department of Computer Science & Engineering (CSE) was established in the year 1997 affiliated to Madras University.<br>
            The department has grown to current strength of 2700 students from a humble beginning with 250 students.<br>
            The department is equipped with the latest state-of- the-art laboratories.
        </p>
    </body>
</html>