<!DOCTYPE html>
<html>
    <head>
        <title>ECE Block</title>

    </head>
    <body>
        <h2>Electronics and Communication Block</h2>
        <p>It has an array of courses for students to choose and study such as power electronics, <br>
            information technology, electronic hardware and software, automation, robotics and <br>
            control, communications, radio and television, computer engineering, solid – state devices, <br>
            microelectronics, VLSI and other circuits & systems used ...
            
        </p>
    </body>
</html>