<!DOCTYPE html>
<html>
    <head>
        <title>EEE Block</title>

    </head>
    <body>
        <h2>Electrical and Electronics Block</h2>
        <p>
            The department of Electrical and Electronics Engineering (EEE) is one of the <br>
            two oldest departments of the institution spanning 75 years of existence<br>
            which offers undergraduate programme B.E-EEE (and two post graduate programmes Power Systems Engineering and Power Electronics and Drives)<br>
            and research programme.
            
        </p>
    </body>
</html>