<!DOCTYPE html>
<html>
    <head>
        <title>SEC Girls Hostel</title>

    </head>
    <body>
        <h2>SEC Girls Hostel</h2>
        <p>
            A Girls hostel is a lower-priced inn of sorts that offers basic,<br>
            shared accommodations. Typically, a hostel features a large room with separate beds,<br>
            a shared bathroom, and a communal kitchen. Some hostels have private rooms,<br>
            but the lower-cost ones generally offer bunk beds.
        </p>
    </body>
</html>