<!DOCTYPE html>
<html>
    <head>
        <title>Map Of SEC</title>
    </head>
    <body>
        <map name="image-maps-2023-01-10-171049" id="ImageMapsCom-image-maps-2023-01-10-171049">
            <area  alt="Admin Block" title="Admin Block" href="http://mathanraj.student.saveetha.in/admin1" shape="rect" coords="382,224,654,347" style="outline:none;" target="_self"     />
            <area  alt="Cse Block" title="Cse Block" href="http://mathanraj.student.saveetha.in/cse" shape="rect" coords="658,208,930,338" style="outline:none;" target="_self"     />
            <area  alt="Ece Block" title="Ece Block" href="http://mathanraj.student.saveetha.in/ece" shape="rect" coords="230,209,375,339" style="outline:none;" target="_self"     />
            <area  alt="EEE Block" title="EEE Block" href="http://mathanraj.student.saveetha.in/eee" shape="rect" coords="194,186,238,316" style="outline:none;" target="_self"     />
            <area  alt="Rectangular Bloak" title="Rectangular Bloak" href="http://mathanraj.student.saveetha.in/rb" shape="rect" coords="0,168,191,281" style="outline:none;" target="_self"     />
            <area  alt="SEC Girls Hostel" title="SEC Girls Hostel" href="http://mathanraj.student.saveetha.in/girls" shape="rect" coords="939,171,939,175" style="outline:none;" target="_self"     />
            <area  alt="SEC Girls Hostel" title="SEC Girls Hostel" href="http://mathanraj.student.saveetha.in/girls" shape="rect" coords="840,123,1020,175" style="outline:none;" target="_self"     />
            <area  alt="SEC Boys Hostel" title="SEC Boys Hostel" href="http://mathanraj.student.saveetha.in/boys" shape="rect" coords="559,120,715,171" style="outline:none;" target="_self"     />
            <area shape="rect" coords="1023,553,1025,555" alt="Image Map" style="outline:none;" title="Image Map" href="https://www.image-maps.com/" />
        </map>
        <img id="Image-Maps-Com-image-maps-2023-01-10-171049" src="https://images.shiksha.com/mediadata/images/1615966849phpBbNJMy.jpeg" border="0" width="1025" height="555" orgWidth="1025" orgHeight="555" usemap="#image-maps-2023-01-10-171049" alt="" />

    </body>
</html>