<!DOCTYPE html>
<html>
    <head>
        <title>Rectangular Block</title>

    </head>
    <body>
        <p><b>Rectangular Block</b> Consist Of : <br>Mechanical Departmentk<br>Chemical Engineering Department<br>
            
        </p>
        <p>
            Mechanical engineering is the study of physical machines that may involve force and movement.<br>
            It is an engineering branch that combines engineering physics and<br>
            mathematics principles with materials science, <br>
            to design, analyze, manufacture, and maintain mechanical systems.<br>
            It is one of the oldest and broadest of the engineering branches.
        </p>
    </body>
</html>